.secao-blog-geral{
    padding: 75px 27px;
    display: flex;
}
.container-esquerda{
    
    color: #000000;
    flex-basis: 66%;
}
.container-esquerda>div{
    display: flex;
    margin-bottom: 6em;
}
.texto-direita{
    width: 50%;
    padding: 24px;
}
.imagem-esquerda{
    width: 50%;
    height: 300px;
    background-image: url(../img/shared/image_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.texto-direita h1{
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    margin-bottom: 8px;
}

.texto-direita a{
    color: #CCB78F;
    font-size: 15px;
    text-decoration: none;
}
.texto-direita p{
    color: #999999;
    line-height: 27px;
    margin-bottom: 24px;
    font-size: 15px;
}
.primeirop{
    color: #BFBFBF;
    font-size: 14px;
    margin-bottom: 16px;
}
.primeirop span{
    color: #BFBFBF;
    font-size: 13px;
    margin-right: 10px;
}
.primeirop a{
    color: black;
    margin-right: 10px;
    font-size: 13px;
    text-decoration: none;
}
.container-direita{
    flex-basis: 33%;
    background-color: #f8f9fa;
}
#form-lateral-direita{
    margin-bottom: 55px;
}
.container-footer.container-2.direita-blog h1,
.container-footer.container-2.direita-blog p{
    color: black;
    
}
.container-footer.container-2.direita-blog p{
    line-height: 27px;
    font-size: 15px;
}
.container-footer.container-2.direita-blog .texto-numero{
    color: rgb(204, 204, 204);
}
.container-footer.container-2.direita-blog .linha.underline::after{
    content: "";
    position: absolute;
    height: 1px;
    bottom: -10px;
    left: 0px;
    right: 0px;
    background-color: rgb(204, 204, 204);
}
.direita-blog{
    padding: 25px;
    margin-bottom: 30px;
}
.container-direita .entrada-email{
    margin-top: 24px;
}
.image-2{
    background-image: url(../img/shared/image_2.jpg);
}
.image-3{
    background-image: url(../img/shared/image_3.jpg);
}
.image-4{
    background-image: url(../img/shared/image_4.jpg);
}
.image-5{
    background-image: url(../img/shared/image_5.jpg);
}
.image-6{
    background-image: url(../img/shared/image_6.jpg);
}
.image-7{
    background-image: url(../img/shared/image_7.jpg);
}
.image-8{
    background-image: url(../img/shared/image_8.jpg);
}
.aread::after{
    content: url(../img/blog/seta-direita.png);

}
.articles>div{
    display: flex;
}
.articles>div h2{
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    transition: all 0.4s ease;
}
.articles>div h2:hover{
    color: #CCB78F;
}
.container-footer.container-2.direita-blog.articles>div p{
    font-size: 12px;
    color: #808080;
}
.first-p.calendar::before{
    content: url(../img/blog/calendar-icon.png);
    vertical-align: middle;
}
.first-p.name::before{
    content: url(../img/blog/user-icon.png);
    vertical-align: middle;
    margin: 0px 5px;
}
.first-p.number::before{
    content: url(../img/blog/chat-icon.png);
    vertical-align: middle;
    margin: 0px 5px;
}
.parte-texto{
    margin-left: 20px;
    width: 60%;
}
.parte-texto div{
    display: flex;
    flex-wrap: wrap;
}
.articles .parte-imagem{
    background-image: url(../img/shared/image_1.jpg);
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}