.secao-blog-geral{
    padding: 75px 27px;
    display: flex;
    justify-content: center;
}
.container-esquerda{
    color: #000000;
    flex-basis: 66%;
}
.container-esquerda>div{
    display: flex;
    margin-bottom: 6em;
}
.texto-direita{
    width: 50%;
    padding: 24px;
}
.imagem-esquerda{
    width: 50%;
    max-width: 365px;
    height: 300px;
    background-image: url(../img/shared/image_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.texto-direita h1{
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    margin-bottom: 8px;
}

.texto-direita a{
    color: #CCB78F;
    font-size: 15px;
    text-decoration: none;
}
.texto-direita p{
    color: #999999;
    line-height: 27px;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 500;
}
.primeirop{
    color: #BFBFBF;
    font-size: 14px;
    margin-bottom: 16px;
}
.primeirop span{
    color: #BFBFBF;
    font-size: 13px;
    margin-right: 10px;
}
.primeirop a{
    color: black;
    margin-right: 10px;
    font-size: 13px;
    text-decoration: none;
}
.container-esquerda .navegacao-inferior{
    width: 50%;
    display: block;
}
.navegacao-inferior ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navegacao-inferior li{
    width: 40px;
    height: 40px;
    border: 1px solid #ccb78f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacao-inferior p{
    color: #ccb78f;
}
#nav-selecionado{
    background-color: #ccb78f;
}
#nav-selecionado p{
    color: white;
}
#seta-esquerda-nav{
    transform: rotate(180deg);
}
.container-direita{
    flex-basis: 33%;
    background-color: #f8f9fa;
}
#form-lateral-direita{
    margin-bottom: 55px;
}
.container-footer.container-2.direita-blog h1,
.container-footer.container-2.direita-blog p{
    color: black;
    
}
.container-footer.container-2.direita-blog p{
    line-height: 27px;
    font-size: 15px;
}
.container-footer.container-2.direita-blog .texto-numero{
    color: rgb(204, 204, 204);
}
.container-footer.container-2.direita-blog .linha.underline::after{
    content: "";
    position: absolute;
    height: 1px;
    bottom: -10px;
    left: 0px;
    right: 0px;
    background-color: rgb(204, 204, 204);
}
.direita-blog{
    padding: 25px;
    margin-bottom: 30px;
}
.container-direita .entrada-email{
    margin-top: 24px;
}
.image-2{
    background-image: url(../img/shared/image_2.jpg);
}
.image-3{
    background-image: url(../img/shared/image_3.jpg);
}
.image-4{
    background-image: url(../img/shared/image_4.jpg);
}
.image-5{
    background-image: url(../img/shared/image_5.jpg);
}
.image-6{
    background-image: url(../img/shared/image_6.jpg);
}
.image-7{
    background-image: url(../img/shared/image_7.jpg);
}
.image-8{
    background-image: url(../img/shared/image_8.jpg);
}
.aread::after{
    content: url(../img/blog/seta-direita.png);

}
.articles>div{
    display: flex;
}
.articles>div h2{
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    transition: all 0.4s ease;
}
.articles>div h2:hover{
    color: #CCB78F;
}
.container-footer.container-2.direita-blog.articles>div p{
    font-size: 12px;
    color: #808080;
}
.first-p.calendar::before{
    content: url(../img/blog/calendar-icon.png);
    vertical-align: middle;
}
.first-p.name::before{
    content: url(../img/blog/user-icon.png);
    vertical-align: middle;
    margin: 0px 5px;
}
.first-p.number::before{
    content: url(../img/blog/chat-icon.png);
    vertical-align: middle;
    margin: 0px 5px;
}
.parte-texto{
    margin-left: 20px;
    width: 60%;
}
.parte-texto div{
    display: flex;
    flex-wrap: wrap;
}
.articles .parte-imagem{
    background-image: url(../img/shared/image_1.jpg);
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
}
.tags>div{
    display: flex;
    flex-wrap: wrap;
}
.tags>div>div{
    border: 1px solid #cccccc;
    padding: 0px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;    
    text-align: center;
    width: min-content;
    transition: all 0.4s ease;
}
.tags>div>div:hover{
    border-color: black;
}
.tags a{
    vertical-align: middle;
    color: #000000;
    font-size: 11px;
    text-decoration: none;
}
.container-footer.container-2.direita-blog.montanha{
    background-image: url(../img/blog/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.container-footer.container-2.direita-blog.montanha::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000080;
    z-index: 0;
}
.container-footer.container-2.direita-blog.montanha h1{
    color: white;
    position: relative;
    z-index: 1;
}
.container-footer.container-2.direita-blog.montanha p{
    font-size: 15px;
    color: #FFFFFFB3;
    line-height: 27px;
    z-index: 1;
    position: relative;
    width: 70%;
    margin-bottom: 15px;
}
.container-footer.container-2.direita-blog.montanha input,
.container-footer.container-2.direita-blog.montanha div{
    width: 100%; 
    height: 52px;
    position: relative;
    z-index: 1;
    margin-bottom: 8px;
}
.entrada-texto-montanha{
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    background-color: #00000000;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
}
.entrada-texto-montanha::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.entrada-botao-montanha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.entrada-botao-montanha h3{
    font-size: 16px;
    font-weight: normal;
    color: black;
}
.container-footer.container-2.direita-blog.paragraph p{
    color: #999999;
    line-height: 27px;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 500;
}

